// Cennik.scss
.wrapper {
	.cennik {
		overflow: hidden;
		background-color: $primary-light;
		padding: 2rem;
		color: $text-color;

		h1 {
			font-size: 2.5rem;
			margin-bottom: 2rem;
			color: $gray-dark;
			text-align: center;
		}

		.section {
			margin-bottom: 3rem;

			h2 {
				font-size: 1.75rem;
				margin-bottom: 1rem;
				border-bottom: 2px solid $primary;
				padding-bottom: 0.5rem;
				color: $gray-dark;

				@include respond(sm) {
					text-align: center;
				}
			}

			ul {
				list-style: none;
				padding: 0;

				h3 {
					color: $gray-dark;
					margin: 16px;

					text-align: center;
					@include respond(sm) {
					}
				}

				.item {
					display: flex;
					justify-content: space-between;

					margin-bottom: 0.5rem;
					background-color: $white;
					border: 1px solid $border-color;
					border-radius: 0.5rem;
					transition: background-color 0.2s;
					flex-wrap: nowrap;

					&:hover {
						background-color: $gray-light;
					}

					.name {
						font-weight: 500;
						color: $gray-dark;
						padding: 0.75rem 1rem;
					}

					.price {
						display: flex;
						font-weight: bold;
						color: $primary;
						flex-wrap: nowrap;
						padding: 0.75rem 1rem;

						.nowrap {
							display: flex;
							justify-content: center;
							align-items: center;
							white-space: nowrap;
						}

						.long-text {
							white-space: normal;

							@include respond(sm) {
								text-align: right;
							}
						  }
					}
				}
			}
		}
	}

	@include respond(sm) {
		padding: 0;

		.cennik {
			padding: 16px;
		}
	}
}
