// Bazowe
$white: #ffffff;
$black: #000000;

// Główne kolory (odcienie niebieskiego)
$primary: #B22222;         // głęboki ceglasty (np. przyciski, akcenty)
$primary-light: #ffefe1;   // bardzo jasny niebieski (tło, sekcje)

// Szarości
$gray-light: #f5f5f5;
$gray-dark: #333333;

// Teksty
$text-color: $black;
$text-light: #666;

// Nawigacja
$nav-bg: $white;
$nav-text: $black;
$nav-hover: $primary;

// Drawer
$drawer-bg: $gray-light;

// Dodatki
$border-color: #e0e0e0;
